body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  justify-items: center;
}

body h1 {
  grid-column-start: span 2;
}

.formProductos,
.listProduct {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 280px;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
}

.listProduct {
  overflow-y: scroll;
}

.msgSection {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  justify-items: center;
  width: 1300px;
  height: 350px;
  padding: 5px;
  border: 1px solid;
  border-radius: 10px;
  grid-column-start: span 2;
}

.msgSection h2,
.msgSection h4 {
  grid-column-start: span 2;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: center;
  width: 600px;
  height: 275px;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 5px;
  overflow-y: scroll;
}

.mensaje {
  display: flex;
  align-items: center;
  width: 100%;
}

strong {
  color: blue;
  margin: 0 5px;
}

p {
  color: brown;
  margin: 0;
  margin-right: 5px;
}

em {
  color: green;
}

.form-msg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 20px;
}

.column1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  column-gap: 10px;
  row-gap: 20px;
}

.column2 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  column-gap: 20px;
}

.form-msg input {
  margin: 0 5px;
}

.userLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: span 2;
  width: 100%;
}

.login {
  display: block;
  grid-column-start: span 2;
  width: 300px;
}

.btnLogin,
.btnLogin:hover {
  text-decoration: none;
  color: black;
}

.divLogout {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(159, 231, 171);
  padding: 0 10px;
  border-radius: 10px;
}
