<div class="formActualizar">
  <form class="form-post" action="/:id" method="put">
    <h2>Actualizar producto</h2>
    <div>
      <label class="form-label">Id del producto</label>
      <input type="number" class="form-control" name="id" />
    </div>
    <div>
      <label class="form-label">Nombre</label>
      <input type="text" class="form-control" name="nombre" />
    </div>
    <div>
      <label class="form-label">Descripcion</label>
      <input type="text" class="form-control" name="descripcion" />
    </div>
    <div>
      <label class="form-label">Codigo</label>
      <input type="text" class="form-control" name="codigo" />
    </div>
    <div>
      <label class="form-label">URL imagen</label>
      <input type="text" class="form-control" name="thumbnail" />
    </div>
    <div>
      <label class="form-label">Precio</label>
      <input type="number" class="form-control" name="precio" />
    </div>
    <div>
      <label class="form-label">Stock</label>
      <input type="number" class="form-control" name="stock" />
    </div>
    <button type="submit" class="btn btn-primary mb-3">Enviar</button>
  </form>
</div>