extends layout.pug

block formulario
    h2 Vista de productos
    form(action="/productos/form" method="post")
        div(class="mb-3 row")
            label(for="inputTitle" class="col-sm-2 col-form-label") Nombre
            div(class="col-sm-10")
                input(type="text" name="title" class="form-control" id="inputTitle")
        div(class="mb-3 row")      
            label(for="inputPrice" class="col-sm-2 col-form-label") Precio 
            div(class="col-sm-10")
                input(type="number" name="price" class="form-control" id="inputPrice")
        div(class="mb-3 row")      
            label(for="inputThumbnail" class="col-sm-2 col-form-label") URL foto 
            div(class="col-sm-10")
                input( type="text" name="thumbnail" class="form-control" id="inputThumbnail")
        div(class="col-auto")
            button(type="submit" class="btn btn-warning") Cargar producto
            a(href="/productos/list" class="btn btn-success ms-4") Ver lista de productos

