<div
  style="width: 600px; margin: 50px;  padding: 10px; border: 1px solid; border-radius: 10px; text-align: center;"
>
  <h2>Vista de productos</h2>
  <form action="/productos/form" method="post">
    <div class="mb-3 row">
      <label for="inputTitle" class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        <input type="text" name="title" class="form-control" id="inputTitle" />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPrice" class="col-sm-2 col-form-label">Precio</label>
      <div class="col-sm-10">
        <input
          type="number"
          name="price"
          class="form-control"
          id="inputPrice"
        />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputThumbnail" class="col-sm-2 col-form-label">URL foto</label>
      <div class="col-sm-10">
        <input
          type="text"
          name="thumbnail"
          class="form-control"
          id="inputThumbnail"
        />
      </div>
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-warning">Cargar producto</button>
      <a href="/productos/list" class="btn btn-success ms-4">Ver lista de
        productos</a>
    </div>

  </form>
</div>