<div class="login">
  <h2>Login</h2>
  <form onsubmit="return createUser(this)">
    <div class="mb-3 row">
      <label for="loginUser" class="col-form-label">Usuario</label>
      <div class="">
        <input type="text" name="user" class="form-control" id="loginUser" />
      </div>
    </div>
    <div class="col-auto">
      <input type="submit" class="btn btn-warning ps-5 pe-5" value="Ingresar" />
    </div>
  </form>
</div>